# ignore these work files created by latex
SDD/SDD.aux
SDD/SDD.log
SDD/SDD.out
SDD/SDD.toc
SDD/SDD.xdy
SDD/SDD.glo
SDD/.~lock.CS 471 reqdoc (ethan).odt#
SDD/.~lock.471draft.odt#

# ignore these work files created by latex
SDD/SDD.aux
SDD/SDD.log
SDD/SDD.out
SDD/SDD.toc
SDD/SDD.xdy
SDD/SDD.glo

#all hidden files
.*
!.gitignore
